body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    height: 200vh;
}

.main > .container {
    width: 80%;
}

.section > .container {
    width: 50%;
}

.textImg {
    padding-top: 10vh;
    color: black;
}

.main > .container > .row > #colMain {
    display: block;
    background-color: rgb(246, 244, 244);
    height: 100vh;
    margin-left: 5vh;
}

.user1 {
    display: flex;
    
}

.nameUser {
    margin-top: 15px;
    margin-left: 20px;
}

#ourpackage {
    background-color: rgb(246, 244, 244);
    padding: 10vh 0 15vh 0 ;
}

#contentOurPackage {
    height: 100vh;
    padding-right: 30vh;
}

#contentOurPackage > .row > #colPackage1, #colPackage2, #colPackage3 {
    margin-left: 25vh;
}

#contentOurPackage > #row1 ,#row2 {
    margin-top: 20vh;
}

.contentPackageLogo {
    display: flex;
}